*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fredoka', sans-serif;
  font-size: 18px;
  background-color: #FFFFFE;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto ;
}

#section-up{
  text-align: center;
  padding: 40px;
}
#section-up h1{
  color: #E5326F;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 40px;
}
p{
  color: rgb(64, 62, 62);
}