*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Fredoka', sans-serif;
  font-size: 18px;
  background-color: #FFFFFE;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto ;
}
.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

#section-up{
  text-align: center;
  padding: 40px;
}
#section-up h1{
  color: #E5326F;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 40px;
}
p{
  color: rgb(64, 62, 62);
}
#section-down{
  padding-top: 40px;
}
.row .column{
  float: left;
  width: calc(100% / 3);
  padding: 20px;
  min-width: 350px;
}
.card{
  background-color: #100E17;
  color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}
.card img{
  width: 100px;
}
.card img,
.contenuti{
  float: left;
}
.card .contenuti span{
  display: block;
  font-size: 16px;
}
.card .contenuti h3,
.card .contenuti span {
  margin-top: 5px;
}
.card .contenuti span{
  margin-bottom: 5px;
}

.card .contenuti a{
  color: #4CAECF;
  font-size: 16px;
  text-decoration: none;
}

